@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wdth,wght@0,87.5,300..800;1,87.5,300..800&family=Pacifico&family=Poppins:wght@400;600;700&display=swap');
@import url('./src/styles/flags.css');
@import 'tailwindcss';
@import 'tailwindcss-primeui';

@custom-variant dark (&: where(.p-dark, .p-dark *)) @import
  './src/styles/flags.css';

@theme {
  --font-inter: 'Inter', sans-serif;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.polaroid-wrapper * {
  transform-box: fill-box;
}

.pacifico-regular {
  font-family: 'Pacifico', cursive;
  font-weight: 400;
  font-style: normal;
}

.open-sans-400 {
  font-family: 'Open Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: 'wdth' 87.5;
}

.open-sans-500 {
  font-family: 'Open Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: 'wdth' 87.5;
}

.montserrat-400 {
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.montserrat-500 {
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.montserrat-600 {
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.montserrat-700 {
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.inter-500 {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.inter-600 {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.inter-700 {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.inter-800 {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.poppins-regular {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-semibold {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-style: normal;
}

* {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Slide Animation */
@keyframes slide-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes slide-right {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

/* Injecting tailwind classes */
@utility animate-slide {
  animation: slide 10s linear infinite;
}

@utility mask-fade-x {
  -webkit-mask-image: linear-gradient(to right, transparent, grey 30%, grey 70%, transparent);
  mask-image: linear-gradient(to right, transparent, grey 30%, grey 70%, transparent);
}

@utility mask-fade-y {
  -webkit-mask-image: linear-gradient(to right, transparent, grey 30%, grey 70%, transparent);
  mask-image: linear-gradient(to bottom, transparent, grey 30%, grey 70%, transparent);
}

@utility mask-fade-all {
  -webkit-mask-image:
    linear-gradient(to right, transparent, black 30%, black 70%, transparent),
    linear-gradient(to bottom, transparent, black 30%, black 70%, transparent);
  mask-image:
    linear-gradient(to right, transparent, black 30%, black 70%, transparent),
    linear-gradient(to bottom, transparent, black 30%, black 70%, transparent);
  /* Allow to combine multiple mask images */
  mask-composite: intersect;
}
